<link href="https://fonts.google.com/">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Serif&display=swap" rel="stylesheet">

h1{
  font-family:font-family: 'Noto Serif', serif;
  font-size: 100px;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

h2, h3, h4, h5, h6{
  text-align: center;
 font-family: 'Noto Serif', serif;
 font-size: 15px;
 max-width: 1000px;
 margin: 20px auto;
}
p{
  font-family: 'Fira-Sans',sans-serif;
  font-size: 12px;
  max-width: 1000px;
  margin: 20px auto;
}
#byline{
  text-align: left;
  font-size: 600px
}
.img-one{
  float:right;
  text-align: center;
}
.img-one img{
  margin-left: 50px;
  max-width: 500px;
  float:right;
  margin-bottom: none;
  padding-bottom: .5em;
  text-align:right;
}
.img-one p{
  text-align: right;
}
.center{
  text-align:justify;
}

.damage-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 500px;
}
.damage-img img{
  max-width: 500px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.img-3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.img-4 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.img-5 img{
  margin-right: 50px;
  max-width: 700px;
  float:left;
  margin-bottom: none;
  padding-bottom: .5em;
  text-align:left;
}
.img-6 img{
  margin-left:50px;
  max-width: 700px;
  float:right;
  margin-bottom: none;
  padding-bottom: .5em;
  text-align right: ;
}
